#.gitignore
#
# codeBlocks (old)
*.cbp
*.layout
*.depend
*.swp
*.pdf
*.eps
*.png

#documentation
doc/*pdf
doc/UserGuide

#gcc 
obj/
bin/

#doxygen
doc/doxygen/html/*

#prog
automaticFlameletCreator
solveMatrixSystem
src/thirdParty
summary
files/
src/flamelet/
log

#gedit
*~
