# Thermo-Kinetic Library
# 29.04.2020
# Tobias Holzmann
#
#.gitignore
#
#------------------------------------------------------------------------------


#------------------------------------------------------------------------------
# Documentation, pictures and Doxygen
*.eps
*.png
doc/*pdf
doc/UserGuide
doc/doxygen/html/*
doc/doxygen/DTAGS


#------------------------------------------------------------------------------
# Compiler related files (libraries, applications and so on)
platforms
src/gcc


#------------------------------------------------------------------------------
# Tutorials and test cases
tutorials


#------------------------------------------------------------------------------
