#.gitignore
#
# codeBlocks (old)
*.cbp
*.layout
*.depend
*.swp
*.pdf
*.eps
*.png

#documentation
doc/doxygen
doc/*pdf
doc/UserGuide

#gcc 
obj/
bin/

#doxygen
doxygen/
latex/
html/

#prog
automaticFlameletCreator
src/thirdParty
summary
files/
src/flamelet/
log

#gedit
*~
